<%- include("header") %>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi aperiam ipsa veritatis distinctio velit dolor iusto quos aliquid non ex blanditiis, dolores, ratione facere! Ex veniam delectus aut enim iste.
</p>
<%- include("footer") %>